<a href="https://colab.research.google.com/github/Statsungeun/Introduction/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def trap_water(heights):
    if not heights:
        return 0

    n = len(heights)
    left_max = [0] * n
    right_max = [0] * n
    water = 0

    # 왼쪽에서 가장 높은 기둥을 찾음
    left_max[0] = heights[0]
    for i in range(1, n):
        left_max[i] = max(left_max[i-1], heights[i])

    # 오른쪽에서 가장 높은 기둥을 찾음
    right_max[n-1] = heights[n-1]
    for i in range(n-2, -1, -1):
        right_max[i] = max(right_max[i+1], heights[i])

    # 각 위치에서 담을 수 있는 물의 양을 계산
    for i in range(n):
        water += min(left_max[i], right_max[i]) - heights[i]

    return water

# 예시 입력
heights1 = [0,1,0,2,1,0,1,3,2,1,2,1]
heights2 = [4,2,0,3,2,5]
heights3 = [3,0,1,3,0,5]

# 결과 출력
print("예시 1:", trap_water(heights1))  # 출력: 6
print("예시 2:", trap_water(heights2))  # 출력: 9
print("예시 3:", trap_water(heights3))  # 출력: 8

예시 1: 6
예시 2: 9
예시 3: 8